logging:
  level:
    org.springframework.web: DEBUG
    com.github.binarywang.demo.wechat: DEBUG

wechat:
  mp:
    appId:wxb5a48f9295510dd9
    secret:d4624c36b6795d1d99dcf0547af5443d
    token:sfwerqewredfaasdfqqwerdsdfa
    aesKey: